name: Branch Deployment

on:
  push:
    branches: [develop, qa, main]
  release:
    types: [published] # Se activa cuando el bot crea la release oficial en main

jobs:
  deploy:
    runs-on: ubuntu-latest
    # Evitamos que el deploy corra para el commit de documentaci칩n del bot en main
    if: "!contains(github.event.head_commit.message, 'chore(release)')"
    
    steps:
      - uses: actions/checkout@v4

      # --- DESPLIEGUE A DEV ---
      - name: 游 Deploy to DEV
        if: github.ref == 'refs/heads/develop'
        run: |
          echo "Haciendo build de Docker para DEV..."
          echo "Enviando imagen al Servidor DEV est치tico..."

      # --- DESPLIEGUE A QA ---
      - name: 游빍 Deploy to QA
        if: github.ref == 'refs/heads/qa'
        run: |
          echo "Haciendo build de Docker para QA..."
          echo "Enviando imagen al Servidor QA est치tico..."

      # --- DESPLIEGUE A PROD ---
      # Solo ocurre cuando se publica una RELEASE (Tag oficial)
      - name: 游끠 Deploy to PROD
        if: github.event_name == 'release'
        run: |
          echo "Desplegando versi칩n oficial ${{ github.event.release.tag_name }} en PROD..."